body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
  margin: 20%;
  background-color: #F9F9F9;
}

h1 {
  margin: 5%;
}

label,
button {
  margin: 2.0%;
}

input, button{
  appearance: none;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #111;
  color: #111;
  padding: 0px 8px;
}

button{
  background-color: #111;
  color: whitesmoke;
  cursor: pointer;
  height: 31px;
  width: 60px;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 50px #f9f9f9 inset;
  -webkit-text-fill-color: #111
}
